*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.bandeau_haut_de_pages{
    background-color: black;
    color: white;
    height: 120px;
    width: 100%;
}
.score_affichage{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.n1{
    border-radius: 20px;
    height: 100px;
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.mis_a_jour_Button{
    height: 30px;
    width: 140px;
    border-radius: 20px;
    border: solid lime 2px;
    background-color: green;
    color: white;
    text-align: center;
    
}

.mis_a_jour_Button:hover{
    background-color: limegreen;
    transition: 0.5s;
}
#button_paris {
    text-align: center;
}
body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;

}
.chart-container {
    width: 600px;
    height: 400px;
    margin: auto;
}
#myChart {
    background-color: #f4f4f4;
}
#titre_page{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}








