body {
  font-family: Arial, Helvetica, sans-serif;
}





a {
  font-size: 150%;
  text-decoration: none;
  position: relative;
  transition: .2s all;
  z-index: 1;
}



.video-container {
  max-width: 800px;
  margin: 0 auto;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.conteneur-video {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.video-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #f1f1f1;
  padding: 10px;
}

.video-item {
  margin-bottom: 10px;
}

.volume-controls {
  display: flex;
  flex-direction: column;
}

.volume-slider {
  margin-bottom: 10px;
}

h3,
h4,
h5,
h6 {
  font-size: 20px;
}

.video-container {
  position: relative;
}


.video-container button {
  position: absolute;
  top: 20px;
  right: 150px;
  padding: 10px 20px;
  background-color: green;
  color: black;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}

.chat_video_mess {
  display: flex;
}


.boite_message {
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
}


.envoyer {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}



.message {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  
}