header
{
    background-color: 	rgb(61,119,68);
    color: #fff;
    padding: 2%;
}
nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
  nav ul li
{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a
{
    color: #fff;
    text-decoration: none;
}
a::before
{
   
    content: '';
    position: absolute;
    background: white;
    filter: blur(5px);
    width: 0px;
    height: 120%;
    left: 0;
    transition: .2s all;
    z-index: -1;
}
a:hover::before
{
    width: 100%;
}
a
{
    font-size: 150%;
    text-decoration: none;
    position: relative;
    transition: .2s all;
    z-index: 1;
}
a:hover
{
    color: rgb(61,119,68);
}


.video-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  video {
    width: 100%;
    height: auto;
    display: block;
  }
.conteneur-video {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.video-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.video-item {
  margin-bottom: 10px;
}

.volume-controls {
  display: flex;
  flex-direction: column;
}

.volume-slider {
  margin-bottom: 10px;
}

h3, h4, h5,h6 {
  font-size: 20px; 
}
