body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
}

.header img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border: black 2px solid;
    border-radius: 25%;
}

.header h1 {
    color: white;
    font-size: 36px; 
    margin-top: 20px;
}

.dashboard-button {
    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: Arial, sans-serif;
}

.manage-users {
    background-color: #FF6384;
    color: white;
}

.manage-events {
    background-color: #36A2EB;
    color: white;
}

.manage-chat {
    background-color: #FFCE56;
    color: white;
}

.manage-bet {
    background-color: #4BC0C0;
    color: white;
}

.logout-button {
    background-color: #FF0000;
    color: white;
}

.dashboard-button-link {
    background-color: #0000FF;
    color: white;
}

.logout-button-dashboard {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.logout-button-dashboard button {
    width: 300px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    background-color: #ca0d36;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.manage-users:hover,
.manage-events:hover,
.manage-chat:hover,
.manage-bet:hover,
.logout-button:hover,
.dashboard-button-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.echo-sonix-button {
    background-color: purple;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: auto;
    text-decoration: none;
    margin-right: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-button {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-decoration: none;
}


